<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AsignatureCreateDlg" widgetVar="AsignatureCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAsignatureTitle}">
            <h:form id="AsignatureCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{asignatureController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAsignatureLabel_asignatureId}" for="asignatureId" />
                        <p:inputText id="asignatureId" value="#{asignatureController.selected.asignatureId}" title="#{bundle.CreateAsignatureTitle_asignatureId}" required="true" requiredMessage="#{bundle.CreateAsignatureRequiredMessage_asignatureId}"/>
                        <p:outputLabel value="#{bundle.CreateAsignatureLabel_asignatureName}" for="asignatureName" />
                        <p:inputText id="asignatureName" value="#{asignatureController.selected.asignatureName}" title="#{bundle.CreateAsignatureTitle_asignatureName}" required="true" requiredMessage="#{bundle.CreateAsignatureRequiredMessage_asignatureName}"/>
                        <p:outputLabel value="#{bundle.CreateAsignatureLabel_asignatureTheoryHours}" for="asignatureTheoryHours" />
                        <p:inputText id="asignatureTheoryHours" value="#{asignatureController.selected.asignatureTheoryHours}" title="#{bundle.CreateAsignatureTitle_asignatureTheoryHours}" required="true" requiredMessage="#{bundle.CreateAsignatureRequiredMessage_asignatureTheoryHours}"/>
                        <p:outputLabel value="#{bundle.CreateAsignatureLabel_asignatureExercisesHours}" for="asignatureExercisesHours" />
                        <p:inputText id="asignatureExercisesHours" value="#{asignatureController.selected.asignatureExercisesHours}" title="#{bundle.CreateAsignatureTitle_asignatureExercisesHours}" required="true" requiredMessage="#{bundle.CreateAsignatureRequiredMessage_asignatureExercisesHours}"/>
                        <p:outputLabel value="#{bundle.CreateAsignatureLabel_asignatureLabHours}" for="asignatureLabHours" />
                        <p:inputText id="asignatureLabHours" value="#{asignatureController.selected.asignatureLabHours}" title="#{bundle.CreateAsignatureTitle_asignatureLabHours}" required="true" requiredMessage="#{bundle.CreateAsignatureRequiredMessage_asignatureLabHours}"/>
                        <p:outputLabel value="#{bundle.CreateAsignatureLabel_asignatureSemester}" for="asignatureSemester" />
                        <p:inputText id="asignatureSemester" value="#{asignatureController.selected.asignatureSemester}" title="#{bundle.CreateAsignatureTitle_asignatureSemester}" required="true" requiredMessage="#{bundle.CreateAsignatureRequiredMessage_asignatureSemester}"/>
                        <p:outputLabel value="#{bundle.CreateAsignatureLabel_asignatureYear}" for="asignatureYear" />
                        <p:inputText id="asignatureYear" value="#{asignatureController.selected.asignatureYear}" title="#{bundle.CreateAsignatureTitle_asignatureYear}" required="true" requiredMessage="#{bundle.CreateAsignatureRequiredMessage_asignatureYear}"/>
                        <p:outputLabel value="#{bundle.CreateAsignatureLabel_asignatureClose}" for="asignatureClose" />
                        <p:inputText id="asignatureClose" value="#{asignatureController.selected.asignatureClose}" title="#{bundle.CreateAsignatureTitle_asignatureClose}" required="true" requiredMessage="#{bundle.CreateAsignatureRequiredMessage_asignatureClose}"/>
                        <p:outputLabel value="#{bundle.CreateAsignatureLabel_userId}" for="userId" />
                        <p:selectOneMenu id="userId" value="#{asignatureController.selected.userId}" required="true" requiredMessage="#{bundle.EditAsignatureRequiredMessage_userId}">
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="userIdItem"
                                           itemValue="#{userIdItem}"/>
                        </p:selectOneMenu>
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{asignatureController.create}" value="Guardar" update="display,:AsignatureListForm:datalist,:growl" oncomplete="handleSubmit(args,'AsignatureCreateDialog');"/>
                    <p:commandButton value="Cancelar" onclick="AsignatureCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
