<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AsignatureEditDlg" widgetVar="AsignatureEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAsignatureTitle}">
            <h:form id="AsignatureEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{asignatureController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAsignatureLabel_asignatureId}" for="asignatureId" />
                        <p:inputText id="asignatureId" value="#{asignatureController.selected.asignatureId}" title="#{bundle.EditAsignatureTitle_asignatureId}" required="true" requiredMessage="#{bundle.EditAsignatureRequiredMessage_asignatureId}"/>
                        <p:outputLabel value="#{bundle.EditAsignatureLabel_asignatureName}" for="asignatureName" />
                        <p:inputText id="asignatureName" value="#{asignatureController.selected.asignatureName}" title="#{bundle.EditAsignatureTitle_asignatureName}" required="true" requiredMessage="#{bundle.EditAsignatureRequiredMessage_asignatureName}"/>
                        <p:outputLabel value="#{bundle.EditAsignatureLabel_asignatureTheoryHours}" for="asignatureTheoryHours" />
                        <p:inputText id="asignatureTheoryHours" value="#{asignatureController.selected.asignatureTheoryHours}" title="#{bundle.EditAsignatureTitle_asignatureTheoryHours}" required="true" requiredMessage="#{bundle.EditAsignatureRequiredMessage_asignatureTheoryHours}"/>
                        <p:outputLabel value="#{bundle.EditAsignatureLabel_asignatureExercisesHours}" for="asignatureExercisesHours" />
                        <p:inputText id="asignatureExercisesHours" value="#{asignatureController.selected.asignatureExercisesHours}" title="#{bundle.EditAsignatureTitle_asignatureExercisesHours}" required="true" requiredMessage="#{bundle.EditAsignatureRequiredMessage_asignatureExercisesHours}"/>
                        <p:outputLabel value="#{bundle.EditAsignatureLabel_asignatureLabHours}" for="asignatureLabHours" />
                        <p:inputText id="asignatureLabHours" value="#{asignatureController.selected.asignatureLabHours}" title="#{bundle.EditAsignatureTitle_asignatureLabHours}" required="true" requiredMessage="#{bundle.EditAsignatureRequiredMessage_asignatureLabHours}"/>
                        <p:outputLabel value="#{bundle.EditAsignatureLabel_asignatureSemester}" for="asignatureSemester" />
                        <p:inputText id="asignatureSemester" value="#{asignatureController.selected.asignatureSemester}" title="#{bundle.EditAsignatureTitle_asignatureSemester}" required="true" requiredMessage="#{bundle.EditAsignatureRequiredMessage_asignatureSemester}"/>
                        <p:outputLabel value="#{bundle.EditAsignatureLabel_asignatureYear}" for="asignatureYear" />
                        <p:inputText id="asignatureYear" value="#{asignatureController.selected.asignatureYear}" title="#{bundle.EditAsignatureTitle_asignatureYear}" required="true" requiredMessage="#{bundle.EditAsignatureRequiredMessage_asignatureYear}"/>
                        <p:outputLabel value="#{bundle.EditAsignatureLabel_asignatureClose}" for="asignatureClose" />
                        <p:inputText id="asignatureClose" value="#{asignatureController.selected.asignatureClose}" title="#{bundle.EditAsignatureTitle_asignatureClose}" required="true" requiredMessage="#{bundle.EditAsignatureRequiredMessage_asignatureClose}"/>
                        <p:outputLabel value="#{bundle.EditAsignatureLabel_userId}" for="userId" />
                        <p:selectOneMenu id="userId" value="#{asignatureController.selected.userId}" required="true" requiredMessage="#{bundle.EditAsignatureRequiredMessage_userId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="userIdItem"
                                           itemValue="#{userIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{asignatureController.update()}" value="#{bundle.Save}" update="display,:AsignatureListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AsignatureEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AsignatureEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
