<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="Lista de Asignaturas"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AsignatureListForm">
                <p:panel header="Lista de Asignaturas">
                    <p:dataTable id="datalist" value="#{asignatureController.items}" var="item"
                                 selectionMode="single" selection="#{asignatureController.selected}"
                                 paginator="true"
                                 rowKey="#{item.asignatureId}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="ID"/>
                            </f:facet>
                            <h:outputText value="#{item.asignatureId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Nombre"/>
                            </f:facet>
                            <h:outputText value="#{item.asignatureName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Horas Teoría"/>
                            </f:facet>
                            <h:outputText value="#{item.asignatureTheoryHours}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Horas Ejercicios"/>
                            </f:facet>
                            <h:outputText value="#{item.asignatureExercisesHours}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Horas Laboratorio"/>
                            </f:facet>
                            <h:outputText value="#{item.asignatureLabHours}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Semestre"/>
                            </f:facet>
                            <h:outputText value="#{item.asignatureSemester}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Año"/>
                            </f:facet>
                            <h:outputText value="#{item.asignatureYear}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignatureTitle_asignatureClose}"/>
                            </f:facet>
                            <h:outputText value="#{item.asignatureClose}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignatureTitle_userId}"/>
                            </f:facet>
                            <h:outputText value="ID Usuario"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{asignatureController.prepareCreate}" update=":AsignatureCreateForm" oncomplete="PF('AsignatureCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":AsignatureViewForm" oncomplete="PF('AsignatureViewDialog').show()" disabled="#{empty asignatureController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":AsignatureEditForm" oncomplete="PF('AsignatureEditDialog').show()" disabled="#{empty asignatureController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{asignatureController.destroy}" update=":growl,datalist" disabled="#{empty asignatureController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
