<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AsignatureViewDlg" widgetVar="AsignatureViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAsignatureTitle}">
            <h:form id="AsignatureViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{asignatureController.selected != null}">
                        <h:outputText value="#{bundle.ViewAsignatureLabel_asignatureId}"/>
                        <h:outputText value="#{asignatureController.selected.asignatureId}" title="#{bundle.ViewAsignatureTitle_asignatureId}"/>
                        <h:outputText value="#{bundle.ViewAsignatureLabel_asignatureName}"/>
                        <h:outputText value="#{asignatureController.selected.asignatureName}" title="#{bundle.ViewAsignatureTitle_asignatureName}"/>
                        <h:outputText value="#{bundle.ViewAsignatureLabel_asignatureTheoryHours}"/>
                        <h:outputText value="#{asignatureController.selected.asignatureTheoryHours}" title="#{bundle.ViewAsignatureTitle_asignatureTheoryHours}"/>
                        <h:outputText value="#{bundle.ViewAsignatureLabel_asignatureExercisesHours}"/>
                        <h:outputText value="#{asignatureController.selected.asignatureExercisesHours}" title="#{bundle.ViewAsignatureTitle_asignatureExercisesHours}"/>
                        <h:outputText value="#{bundle.ViewAsignatureLabel_asignatureLabHours}"/>
                        <h:outputText value="#{asignatureController.selected.asignatureLabHours}" title="#{bundle.ViewAsignatureTitle_asignatureLabHours}"/>
                        <h:outputText value="#{bundle.ViewAsignatureLabel_asignatureSemester}"/>
                        <h:outputText value="#{asignatureController.selected.asignatureSemester}" title="#{bundle.ViewAsignatureTitle_asignatureSemester}"/>
                        <h:outputText value="#{bundle.ViewAsignatureLabel_asignatureYear}"/>
                        <h:outputText value="#{asignatureController.selected.asignatureYear}" title="#{bundle.ViewAsignatureTitle_asignatureYear}"/>
                        <h:outputText value="#{bundle.ViewAsignatureLabel_asignatureClose}"/>
                        <h:outputText value="#{asignatureController.selected.asignatureClose}" title="#{bundle.ViewAsignatureTitle_asignatureClose}"/>
                        <h:outputText value="#{bundle.ViewAsignatureLabel_userId}"/>
                        <h:outputText value="#{asignatureController.selected.userId}" title="#{bundle.ViewAsignatureTitle_userId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AsignatureViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
