<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserEditDlg" widgetVar="UserEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUserTitle}">
            <h:form id="UserEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUserLabel_userId}" for="userId" />
                        <p:inputText id="userId" value="#{userController.selected.userId}" title="#{bundle.EditUserTitle_userId}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_userId}"/>
                        <p:outputLabel value="#{bundle.EditUserLabel_userName}" for="userName" />
                        <p:inputText id="userName" value="#{userController.selected.userName}" title="#{bundle.EditUserTitle_userName}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_userName}"/>
                        <p:outputLabel value="#{bundle.EditUserLabel_userEmail}" for="userEmail" />
                        <p:inputText id="userEmail" value="#{userController.selected.userEmail}" title="#{bundle.EditUserTitle_userEmail}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_userEmail}"/>
                        <p:outputLabel value="#{bundle.EditUserLabel_userLogin}" for="userLogin" />
                        <p:inputText id="userLogin" value="#{userController.selected.userLogin}" title="#{bundle.EditUserTitle_userLogin}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_userLogin}"/>
                        <p:outputLabel value="#{bundle.EditUserLabel_userPass}" for="userPass" />
                        <p:inputText id="userPass" value="#{userController.selected.userPass}" title="#{bundle.EditUserTitle_userPass}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_userPass}"/>
                        <p:outputLabel value="#{bundle.EditUserLabel_userRolId}" for="userRolId" />
                        <p:selectOneMenu id="userRolId" value="#{userController.selected.userRolId}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_userRolId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{userRolController.itemsAvailableSelectOne}"
                                           var="userRolIdItem"
                                           itemValue="#{userRolIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userController.update}" value="#{bundle.Save}" update="display,:UserListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UserEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UserEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
