<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:dataTable id="resultados" paginator="true"
                     paginatorAlwaysVisible="false" rows="5"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     rowsPerPageTemplate="5,10,15" var="usuario"
                     value="#{listUser.usuarios}">
            <f:facet name="header">  
                Resultados de Busqueda  
            </f:facet>
            <p:column>
                <f:facet name="header">
                    <h:outputText value="#{msg['user.id']}" />
                </f:facet>
                <div align="center">
                    <h:outputText value="#{usuario.userId}" />
                </div>
            </p:column>

            <p:column>
                <f:facet name="header">
                    <h:outputText value="#{msg['user.name']}" />
                </f:facet>
                <div align="center">
                    <h:outputText value="#{usuario.userName}" />
                </div>
            </p:column>
            <p:column>
                <f:facet name="header">
                    <h:outputText value="#{msg['user.email']}" />
                </f:facet>
                <div align="center">
                    <h:outputText value="#{usuario.userEmail}" />
                </div>
            </p:column>


        </p:dataTable>
    </h:body>
</html>

