<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="3">
                <h:outputLabel for="id" value="#{msg['user.id']}" />
                <p:inputText id="id" value="#{userMB.id}">
                    <p:ajax event="blur" update="msgId" />
                </p:inputText>
                <p:message id="msgId" for="id" />
                
                
                <h:outputLabel for="rolid" value="#{msg['user.rolId']}" />
                <p:inputText id="rolid" value="#{userMB.rolId}">
                    <p:ajax event="blur" update="msgrolid" />
                </p:inputText>
                <p:message id="msgrolid" for="rolid" />
                
                
                <h:outputLabel for="email" value="#{msg['user.email']}" />
                <p:inputText id="email" value="#{userMB.email}">
                    <p:ajax event="blur" update="msgEmail" />
                </p:inputText>
                <p:message id="msgEmail" for="email" />
                
                
                <h:outputLabel for="name" value="#{msg['user.name']}" />
                <p:inputText id="name" value="#{userMB.name}">
                    <p:ajax event="blur" update="msgName" />
                </p:inputText>
                <p:message id="msgName" for="name" />
                
                <h:outputLabel for="login" value="#{msg['user.login']}" />
                <p:inputText id="login" value="#{userMB.login}">
                    <p:ajax event="blur" update="msgLogin" />
                </p:inputText>
                <p:message id="msgLogin" for="login" />
                
                <h:outputLabel for="pass" value="#{msg['user.pass']}" />
                <p:inputText id="pass" value="#{userMB.pass}">
                    <p:ajax event="blur" update="msgPass" />
                </p:inputText>
                <p:message id="msgPass" for="pass" />
                
                <p:commandButton value="#{msg['user.new']}" action="#{newUser.newUser()}">
                    
                </p:commandButton>
                
                
            </h:panelGrid>

        </h:form>
    </h:body>
</html>

