<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserViewDlg" widgetVar="UserViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUserTitle}">
            <h:form id="UserViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userController.selected != null}">
                        <h:outputText value="#{bundle.ViewUserLabel_userId}"/>
                        <h:outputText value="#{userController.selected.userId}" title="#{bundle.ViewUserTitle_userId}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userName}"/>
                        <h:outputText value="#{userController.selected.userName}" title="#{bundle.ViewUserTitle_userName}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userEmail}"/>
                        <h:outputText value="#{userController.selected.userEmail}" title="#{bundle.ViewUserTitle_userEmail}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userLogin}"/>
                        <h:outputText value="#{userController.selected.userLogin}" title="#{bundle.ViewUserTitle_userLogin}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userPass}"/>
                        <h:outputText value="#{userController.selected.userPass}" title="#{bundle.ViewUserTitle_userPass}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_userRolId}"/>
                        <h:outputText value="#{userController.selected.userRolId}" title="#{bundle.ViewUserTitle_userRolId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UserViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
