<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserRolEditDlg" widgetVar="UserRolEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUserRolTitle}">
            <h:form id="UserRolEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userRolController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUserRolLabel_userRolId}" for="userRolId" />
                        <p:inputText id="userRolId" value="#{userRolController.selected.userRolId}" title="#{bundle.EditUserRolTitle_userRolId}" required="true" requiredMessage="#{bundle.EditUserRolRequiredMessage_userRolId}"/>
                        <p:outputLabel value="#{bundle.EditUserRolLabel_userRolName}" for="userRolName" />
                        <p:inputText id="userRolName" value="#{userRolController.selected.userRolName}" title="#{bundle.EditUserRolTitle_userRolName}" required="true" requiredMessage="#{bundle.EditUserRolRequiredMessage_userRolName}"/>
                        <p:outputLabel value="#{bundle.EditUserRolLabel_userRolPermission}" for="userRolPermission" />
                        <p:inputText id="userRolPermission" value="#{userRolController.selected.userRolPermission}" title="#{bundle.EditUserRolTitle_userRolPermission}" required="true" requiredMessage="#{bundle.EditUserRolRequiredMessage_userRolPermission}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userRolController.update}" value="#{bundle.Save}" update="display,:UserRolListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UserRolEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UserRolEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
