<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserRolViewDlg" widgetVar="UserRolViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUserRolTitle}">
            <h:form id="UserRolViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userRolController.selected != null}">
                        <h:outputText value="#{bundle.ViewUserRolLabel_userRolId}"/>
                        <h:outputText value="#{userRolController.selected.userRolId}" title="#{bundle.ViewUserRolTitle_userRolId}"/>
                        <h:outputText value="#{bundle.ViewUserRolLabel_userRolName}"/>
                        <h:outputText value="#{userRolController.selected.userRolName}" title="#{bundle.ViewUserRolTitle_userRolName}"/>
                        <h:outputText value="#{bundle.ViewUserRolLabel_userRolPermission}"/>
                        <h:outputText value="#{userRolController.selected.userRolPermission}" title="#{bundle.ViewUserRolTitle_userRolPermission}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UserRolViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
