<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <h:head>
        <title>index.xhtml</title>
    </h:head>

    <h:body>

        <h1>Usuarios</h1>
        {usuarioBean.chao}
        <h:dataTable value="#{usuarioBean.userList}" var="user">
            #{user.userName + "Hola"}
        </h:dataTable>
        
        <h:dataTable value="#{usuarioBean.userList}" var="u">

            <h:column>
                <f:facet name="header">User ID</f:facet>
                #{u.userName}
            </h:column>

        </h:dataTable>

    </h:body>

</html>