<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
                <p:outputLabel for="basic" value="Basic:" />
                <p:selectOneListbox id="basic" value="#{trelloController.boardSeleccionada}">
                    <f:selectItems value="#{trelloController.allBoards}" var="board" itemValue="#{board.id}" itemLabel="#{board.name}" />
                </p:selectOneListbox>
            </h:panelGrid>

            <p:separator />

            <p:commandButton widgetVar="boton" value="Submit" update="display"/>

            <p:panel id="display" widgetVar="resultados" closable="true" toggleable="true">
                <h:dataTable value="#{trelloController.getCardsByBoardId()}" var="card">
                    <h:column>#{card.name}</h:column>
                </h:dataTable>
            </p:panel>

            <p:dialog header="Selected Values" modal="true" showEffect="fade" widgetVar="dlg" resizable="false">

            </p:dialog>
        </h:form>
    </h:body>
</html>

